{% extends "bootstrap/base.html" %}
{% block body %}
  <div class="container">
      <h2><a href="{{ url_for('show_jobs') }}">Kilncontroller Users</a></h2>
      <div align="right">
        {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          <a href="{{ url_for('register') }}">Register</a>
        {% else %}
          {{ current_user.username }}
          <a href="{{ url_for('show_jobs') }}">Show Jobs</a>
          {% if current_user.is_admin %}
            <a href="{{ url_for('show_users') }}">Show Users</a>
          {% endif %}
          <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </div>
      <div class=metanav>
      </div>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      <div class="row">
          <div class="col-md-1"><b>Username</b></div>
          <div class="col-md-2"><b>Full Name</b></div>
          <div class="col-md-2"><b>Email Address</b></div>
          <div class="col-md-2"><b>Phone Number</b></div>
          <div class="col-md-1"><b>Is Auth</b></div>
          <div class="col-md-1"><b>Is Admin</b></div>
      </div>
    {% for user in users %}
        <div class="row">
          <form action="{{ url_for('update_user', user_id = user.id) }}">
              <div class="col-md-1">{{ user.username }}</div>
              <div class="col-md-2"><input type="text" id='full_name'  name="full_name[{{ user.id }}]" value="{{ user.full_name }}"/></div>
              <div class="col-md-2"><input type="text" id='email_address' name='email_address[{{ user.id }}]' value="{{ user.email_address }}"></div>
              <div class="col-md-2"><input type="text" id="phone_number" name="phone_number[{{ user.id }}]" value="{{ user.phone_number }}"></div>
              <div class="col-md-1">
                  <!-- FIXME - this is a bogus way to show checkbox value -->
                {% if user.is_auth %}
                  <input type="checkbox" name="is_auth[{{ user.id }}]"  checked>
                {% else %}
                  <input type="checkbox"  name="is_auth[{{ user.id }}]">
                {% endif %}
              </div>
              <div class="col-md-1">
                  <!-- FIXME - this is a bogus way to show checkbox value -->
                  {% if user.is_admin %}
                    <input type="checkbox" name="is_admin[{{ user.id }}]" checked>
                  {% else %}
                    <input type="checkbox" name="is_admin[{{ user.id }}]">
                  {% endif %}
              </div>
              <div class="col-md-1"><input type="submit" value="Update"></div>
              <div class="col-md-1"><a href="{{ url_for('delete_user', user_id = user.id) }}">Delete</a></div>
          </form>
    </div>
  {% endfor %}
  </div>
{% endblock %}