{% extends "layout.html" %}
{% block body %}
<h2>Job "{{ job.comment }}"</h2>
<p>
  <form action="{{ url_for('update_job_steps', job_id=job.id) }}" method="post">
    <table>
    <tr>
      <th>Target</th>
      <th>Rate</th>
      <th>Dwell</th>
      <th>Threshold</th>
      <th>Actions</th>
    </tr>
    {% for step in job_steps %}
    <tr>
      <input type="hidden" name="id" value="{{ step.id }}"/>
      <td><input type="text" size="6" name="target[{{ step.id }}]" value="{{ step.target }}"/>&deg;F</td>
      <td><input type="text" size="6" name="rate[{{ step.id }}]" value="{{ step.rate }}"/> min</td>
      <td><input type="text" size="6" name="dwell[{{ step.id }}]" value="{{ step.dwell }}"/> min</td>
      <td><input type="text" size="6" name="threshold[{{ step.id }}]" value="{{ step.threshold }}"/>&deg;F</td>
      <td><a href="{{ url_for('delete_job_step', job_id=job.id, step_id=step.id) }}">Delete</a></td>
    </tr>
    {% endfor %}
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="{{ url_for('add_job_step', job_id=job.id) }}">Add Step</a></td>
    </tr>
    </table>
    <input type="submit" value="Update"/>
    <input type="reset" value="Discard Changes"/>
  </form>
</p>
<ul>
<li><a href="{{ url_for('show_jobs') }}">Back to job list</a></li>
<li><a href="{{ url_for('start_job', job_id=job.id) }}">Start</a></li>
<li><a href="{{ url_for('delete_job', job_id=job.id) }}" class="delete">Delete Job</a></li>
</ul>
<pre>
{{ derp }}
</pre>
{% endblock %}
