{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('job_create') }}" method=post class=add-entry>
    <dl>
      <dt>Comment:
      <dd><input type=text size=30 name=comment>
      <dt>Job Data:
      <dd><textarea name=job_data rows=5 cols=40></textarea>
      <dd><input type=submit value=Create>
    </dl>
  </form>
  <ul class=entries>
  {% for job in jobs %}
    <li><a href="{{ url_for('show_job_steps', job_id=job.id) }}">{{ job.comment }}</a> ({{ job.steps|length }}) <a href="{{ url_for('delete_job', job_id=job.id) }}">Delete</a>
  {% else %}
    <li><em>No jobs found.</em>
  {% endfor %}
  </ul>
{% endblock %}
