<!doctype html>
<head>
	<title>KilnWeb</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<style>
		div.ex1 {
  			padding-left: 20px;
  			text-align: left;
			a { font-size: large; text-decoration: none; }
		}

		div.ex2 {
  			max-width: 700px;
  			margin: auto;
			margin-top: 15px;
  			border: 5px solid #456f96;
			a { font-size: large; text-decoration: none; }
		}
	</style>
</head>
<div class="ex2">
	<h1 align="center"><a href="{{ url_for('login') }}">KilnWeb</a></h1>

  <div style="inline;float:left;">
	  <a href="{{ url_for('settings') }}">Settings</a>
  </div>
  <div style="inline;float:right">
    	{% if current_user.is_anonymous %}
      		<a href="{{ url_for('login') }}">Login</a>&nbsp;
      		<a href="{{ url_for('register') }}">Register</a>&nbsp;
    	{% else %}
	<a href="{{ url_for('show_user') }}"> {{ current_user.username }}</a>&nbsp;
      		<a href="{{ url_for('show_jobs') }}">Show Jobs</a>&nbsp;
      		{% if current_user.is_admin %}
        		<a href="{{ url_for('show_users') }}">Show Users</a>&nbsp;
      		{% endif %}
      		<a href="{{ url_for('logout') }}">Logout</a>&nbsp;
    	{% endif %}
  </div>
  <div class=metanav>
  </div>
  {% for message in get_flashed_messages() %}
    <div class='flash'>{{ message }}</div>
  {% endfor %}
  <div align="center">
  	{% block body %}{% endblock %}
	{% block footer %}(c) 2023 - <a href="https://www.f6s.com/company/controlphysics" target=_blank>Control Physics</a> {% endblock %}
  </div>
</div>
