{% extends "layout.html" %}
{% block body %}
<div class=ex1>
  <p>
  Kiln state: {{ run_state }}
  <br/>
  {% if running_job == None %}
  No job running.
  {% else %}
  Running job: <a href="{{ url_for('show_job_steps', job_id=running_job.id) }}">{{ running_job.name}} - {{ running_job.comment }}</a> ({{ running_job.steps|length }})
  owned by: {{ running_job_user.username }}
    {% endif %}
  </p>
  {% if current_user.is_auth %}
  <form action="" method="post">
  {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}
      {{ form.name(size=32) }}
    </p>
    <p>
    	{{ form.interval.label }}
	{{ form.interval(size=16) }}
    </p>
    <p>
	{{ form.erange.label }}
	{{ form.erange(size=16) }}
    </p>
    <p>
	{{ form.drange.label }}
	{{ form.drange(size=16) }}
    </p>
    <p>
      {{ form.comment.label }}
      {{ form.comment(rows=3, cols=45) }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  {% endif %}
  <ul class=entries>
  {% for job in jobs %}
    <li>
      <a href="{{ url_for('show_job_steps', job_id=job.id) }}">{{ job.name }}</a> ({{ job.steps|length }})
      {% if not running_job_id == '-1' and (job.id == running_job_id) %}
        <a href="{{ url_for('stop_job', job_id=job.id) }}">Stop</a>&nbsp;
	{% if run_state == "RUN" %}
          <a href="{{ url_for('pause_job', job_id=job.id) }}">Pause</a>&nbsp;
        {% elif run_state == "PAUSE" %}
          <a href="{{ url_for('resume_job', job_id=job.id) }}">Resume</a>&nbsp;
        {% endif %}
	{% elif not running_job_id == '-1' and job.id != running_job_id %}
        <a href="{{ url_for('delete_job', job_id=job.id) }}">Delete</a>
      {% elif run_state == 'IDLE' %}
      <a href="{{ url_for('start_job', job_id=job.id) }}">Start</a>&nbsp;
        <a href="{{ url_for('delete_job', job_id=job.id) }}">Delete</a>
      {% endif %}
  {% else %}
    <li><em>No jobs found.</em>
  {% endfor %}
  </ul>
</div>  
{% endblock %}
