{% extends "bootstrap/base.html" %}
{% block head %}
  {{ super() }}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!--suppress jsunresolvedlibraryurls -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>


    <script type="text/javascript">
      function change_units(selector) {
        data = selector.value;
        $.ajax({
          url: "change_units/" + data,
          type: 'POST',
          success: function(response) {
            console.log("Units successfully changed to %s" % data);
          },
          error: function(response) {
            console.log("Failed to change units");
          }
        });
      }

    </script>
    <style>
        a {font-size: large; text-decoration: none; }
    </style>
{% endblock %}
{% block body %}
<div class="container">
  <div class="h1" align="center"><a href="{{ url_for('show_jobs') }}">KilnWeb</a></div>
  <hr/>
  <div align="right">
    {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>&nbsp;
      <a href="{{ url_for('register') }}">Register</a>
    {% else %}
    <big>{{ current_user.username }}</big>&nbsp;
      <a href="{{ url_for('start_job', job_id = job.id) }}">Start Job</a>&nbsp;
      <a href="{{ url_for('show_jobs') }}">Show Jobs</a>&nbsp;
      {% if current_user.is_admin %}
        <a href="{{ url_for('show_users') }}">Show Users</a>&nbsp;
      {% endif %}
      <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </div>
  <div class=metanav>
  </div>
  {% for message in get_flashed_messages() %}
    <div class='flash alert alert-danger'>{{ message }}</div>
  {% endfor %}
  <div class="h2">Job: {{ job.name }} Run State: {{ run_state }}</div>
  <div class="textarea">{{ job.comment }}</div>
    <form action="{{ url_for('update_job_steps', job_id=job.id) }}" method="post">
      <div class="vertical-center">
      <div class="col-md-10 col-md-offset-1"> <!-- offset jumbotron on page -->
      <div class="jumbotron" align="left">
        <div class="row">
          <div class="col-xs-3"><b>Target</b></div>
          <div class="col-xs-3"><b>Rate</b></div>
          <div class="col-xs-3"><b>Dwell</b></div>
	  <div class="col-xs-2"><b>Limit</b></div>
        </div>
        <div  style="overflow-y: scroll; height:200px; overflow-x:hidden">
	 <div class="row">
          <div class="form-group">
            <div class="col-xs-3"><input type="number" id="target" name="target" style="width:70px;text-align:right;" value="" />&nbsp;&deg;</div>	        <div class="col-xs-3"><input type="number" id="rate" name="rate" min=1 style="width:70px;text-align:right;" value="" />&nbsp;&deg;</div>
	    <div class="col-xs-3"><input type="number" id="dwell" name="dwell" style="width:70px;text-align:right;" value="" />&nbsp;min</div>
	    <div class="col-xs-2"><input type="number" id="threshold" name="threshold" style="width:70px;text-align:right;" value=""/>&nbsp;&deg;</div>
	    <div class="col-xs-1" title="Add a row"><button type="submit"/>
                <span class="glyphicon glyphicon-plus" style="color:green"></span>
	    </div>
	  </div> <!-- end form-group -->
       	</div> <!-- end row -->
        {% for step in job_steps %}
        <div class="row">
          <div class="form-group">
            <div class="col-xs-3"><input type="number" id='target' name="target[{{ step.id }}]" style="width:70px;text-align:right;" value="{{ step.target }}" />&nbsp;&deg;</div>
            <div class="col-xs-3"><input type="number" id='rate' name="rate[{{ step.id }}]" style="width:70px;text-align:right;" value="{{ step.rate }}" />&nbsp;&deg;/hr</div>
            <div class="col-xs-3"><input type="number" id='dwell' name="dwell[{{ step.id }}]" style="width:70px;text-align:right;" value="{{ step.dwell }}" />&nbsp;min</div>
	    <div class="col-xs-2"><input type="number" id='threshold' name="threshold[{{step.id}}]" style="width:70px;text-align:right;" value="{{step.threshold}}" />&nbsp;&deg;</div>
            <div class="col-xs-1">
              <a title="Delete this row" href="{{ url_for('delete_job_step', job_id=job.id, step_id=step.id) }}">
	        <i class="glyphicon glyphicon-remove" style="color:red;"></i>
	      </a>
	    </div>
	    <input type="hidden" name="id" value="{{ step.id }}" />
	  </div> <!-- end form-group -->
        </div> <!-- end row -->
        {% endfor %}
	<p/>
	<div class="row">
	    <div align="center">	
		<input title="Update Values" type="submit" value="Update Values" />
	    </div>
	</div>
	<p/>
        </div>  <!-- end scrolling window -->
    </div> <!-- end jumbotron -->
    <div class=row>&nbsp;</div>
    <!-- start temperature graph display -->
    {% if run_state != 'IDLE' %}
        <div class=jumbotron id="graph_display" name="graph display"> <!-- graph display jumbotron -->
            <div style="height: 100%; width: 100%;">
                <canvas id="chart_canvas" name="chart_canvas"></canvas>
            </div>
	</div> <!-- end graph display jumbotron -->
	<!--suppress jsunresolvedlibraryurls -->

	<script>
    	$(document).ready(function () {
        	const config = {
            		type: 'line',
            		data: {
                		labels: [],
                		datasets: [
					      {
                    		    		label: "Measured Temperature",
                    		                backgroundColor: 'rgb(255, 99, 132)',
                    		    		borderColor: 'rgb(255, 99, 132)',
                    		    		data: [],
                    		    		fill: false,
					      },
					      {
						label: "Set Point",
						backgroundColor: 'rgb(50, 82, 135)',
						borderColor: 'rgb(50, 82, 135)',
						data: [],
						fill: false,
					      }  
					  ],
			
            		},
            		options: {
                		responsive: true,
                		title: {
                    			display: true,
                    			text: 'Measured Temperature vs Set Point'
				},
                		tooltips: {
                    			mode: 'index',
                    			intersect: false,
                		},
                		hover: {
                    			mode: 'nearest',
                    			intersect: true
                		},
                		scales: {
                    			xAxes: [{
                        			display: true,
                        			scaleLabel: {
                            				display: true,
                            				labelString: 'Time (seconds)'
                        			}
                    			}],
                    		yAxes: [{
                        		display: true,
                        		scaleLabel: {
                            			display: true,
                            			labelString: 'Temperature'
                        			}
                    			}]
				}				
			}
		};

        	const context = document.getElementById('chart_canvas').getContext('2d');

        	const lineChart = new Chart(context, config);

        	const source = new EventSource("/chart-data");

        	source.onmessage = function (event) {
            		const data = JSON.parse(event.data);
            		config.data.labels.push(data.time_now);
            		config.data.datasets[0].data.push(data.tmeas);
			config.data.datasets[1].data.push(data.setpoint);
            		lineChart.update();
        	}
    	});
	</script>	


	{% endif %} <!-- end temperature graph -->
      </div> <!-- end jumbotron offset -->
      </div> <!-- end vertical-center -->
    </form>
</div>
{% endblock %}
