{% extends "layout.html" %}
{% block body %}
<h2>Job {{ job.name }}</h2>
<p>{{ job.comment }}</p>
<p>
  <form action="{{ url_for('update_job_steps', job_id=job.id) }}" method="post">
    <table border="0" cellpadding="2" cellspacing="2">
    <tr>
      <th>Target</th>
      <th>Rate</th>
      <th>Dwell</th>
      <th>Threshold</th>
      <th>Actions</th>
    </tr>
    {% for step in job_steps %}
    <tr>
      <div class="form-group">
        <input type="hidden" name="id" value="{{ step.id }}"/>
        <td><input type="text" id='target' size="6" name="target[{{ step.id }}]" value="{{ step.target }}"/>&deg;&nbsp;</td>
        <td><input type="text" id='rate' size="6" name="rate[{{ step.id }}]" value="{{ step.rate }}"/> min&nbsp;</td>
        <td><input type="text" id='dwell' size="6" name="dwell[{{ step.id }}]" value="{{ step.dwell }}"/> min&nbsp;</td>
        <td><input type="text"  id='threshold' size="6" name="threshold[{{ step.id }}]" value="{{ step.threshold }}"/>&deg;F&nbsp;</td>
        <td title="Delete step"><a href="{{ url_for('delete_job_step', job_id=job.id, step_id=step.id) }}"><i class="glyphicon glyphicon-remove"></i></a></td>
      </div>
    </tr>
    {% endfor %}
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td title="Add a step"><a href="{{ url_for('add_job_step', job_id=job.id) }}"><i class="glyphicon glyphicon-plus"></i></a></td>
    </tr>
    </table>
    <input type="submit" value="Update Job"/>
  </form>
</p>
<ul>
<li><a href="{{ url_for('show_jobs') }}">Back to job list</a></li>
<li><a href="{{ url_for('start_job', job_id=job.id) }}">Start</a></li>
<li><a href="{{ url_for('delete_job', job_id=job.id) }}" class="delete">Delete Job</a></li>
</ul>
{% endblock %}
