{% extends "bootstrap/base.html" %}
{% block body %}
<div class="container">
  <div class="h1"><a href="{{ url_for('show_jobs') }}">Kiln Server</a></div>
  <hr/>
  <div align="right">
    {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
    {% else %}
      {{ current_user.username }}
      <a href="{{ url_for('show_jobs') }}">Show Jobs</a>
      {% if current_user.is_admin %}
        <a href="{{ url_for('show_users') }}">Show Users</a>
      {% endif %}
      <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
  </div>
  <div class=metanav>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <div class="h2">Job: {{ job.name }} Run State: {{ run_state }}</div>
  <div class="textarea">{{ job.comment }}</div>
    <form action="{{ url_for('update_job_steps', job_id=job.id) }}" method="post">
      <div class="vertical-center">
      <div class="col-md-10 col-md-offset-1"> <!-- offset jumbotron on page -->
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-2"><b>Target</b></div>
          <div class="col-md-2"><b>Rate</b></div>
          <div class="col-md-2"><b>Dwell</b></div>
          <div class="col-md-2"><b>Threshold</b></div>
          <div class="col-md-2"><b>Actions</b></div>
        </div>
        <div  style="overflow-y: scroll; height:200px; overflow-x:hidden">
        {% for step in job_steps %}
        <div class="row">
          <div class="form-group">
            <input type="hidden" name="id" value="{{ step.id }}"/>
            <div class="col-md-2"><input type="text" id='target' size="6" name="target[{{ step.id }}]" style="text-align:right;" value="{{ step.target }}"/>&deg;&nbsp;</div>
            <div class="col-md-2"><input type="text" id='rate' size="6" name="rate[{{ step.id }}]" style="text-align:right;" value="{{ step.rate }}"/>/min&nbsp;</div>
            <div class="col-md-2"><input type="text" id='dwell' size="6" name="dwell[{{ step.id }}]" style="text-align:right;" value="{{ step.dwell }}"/>min&nbsp;</div>
            <div class="col-md-2"><input type="text"  id='threshold' size="6" name="threshold[{{ step.id }}]" style="text-align:right;" value="{{ step.threshold }}"/>&deg;F&nbsp;</div>
            <div class="col-md-2">
              <a title="Delete step" href="{{ url_for('delete_job_step', job_id=job.id, step_id=step.id) }}"><i class="glyphicon glyphicon-remove"></i></a>&nbsp;&nbsp;
              <a title="Add a step" href="{{ url_for('add_job_step', job_id=job.id) }}"><i class="glyphicon glyphicon-plus"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        <div class="row"><input type="submit" value="Update Job"/></div>
    </div> <!-- end jumbotron -->
      </div> <!-- end jumbotron offset -->
      </div> <!-- end vertical-center -->
    </form>
    <div class=row></div>
  <ul>
  <li><a href="{{ url_for('show_jobs') }}">Back to job list</a></li>
  <li><a href="{{ url_for('start_job', job_id=job.id) }}">Start</a></li>
  <li>Pause Job</li> <!-- TODO -->
  <li>Resume Job</li> <!-- TODO -->
  <li>Stop Job</li> <!-- TODO -->
  <li><a href="{{ url_for('delete_job', job_id=job.id) }}" class="delete">Delete Job</a></li>
  </ul>
</div>
{% endblock %}
