{% extends "layout.html" %}
{% block body %}
  <p>
  Kiln state: {{ run_state }}
  {% if run_state != "IDLE" %}
    <a href="{{ url_for('stop_job') }}">Stop</a>&nbsp;
  {% endif %}
  {% if run_state == "RUN" %}
    <a href="{{ url_for('pause_job') }}">Pause</a>&nbsp;
  {% elif run_state == "PAUSE" %}
    <a href="{{ url_for('resume_job') }}">Resume</a>&nbsp;
  {% endif %}
  <br/>
  {% if running_job == None %}
  No job running.
  {% else %}
  Running job: <a href="{{ url_for('show_job_steps', job_id=running_job.id) }}">{{ running_job.name}} - {{ running_job.comment }}</a> ({{ running_job.steps|length }})
  {% endif %}
  </p>
  {% if current_user.is_auth %}
  <form action="" method="post">
  {{ form.hidden_tag() }}
    <p>
      {{ form.name.label }}
      {{ form.name(size=32) }}
    </p>
    <p>
      {{ form.comment.label }}
      {{ form.comment(rows=3, cols=45) }}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  <a href="{{ url_for('halt_kilnserver') }}">Halt Kiln Server</a>
  {% endif %}
  <ul class=entries>
  {% for job in jobs %}
    <li><a href="{{ url_for('show_job_steps', job_id=job.id) }}">{{ job.name }}</a> ({{ job.steps|length }})
      {% if job == running_job %}
        <a href="{{ url_for('stop_job', job_id=job.id) }}">Stop</a>&nbsp;
        {% if run_state == "RUN" %}
          <a href="{{ url_for('pause_job', job_id=job.id) }}">Pause</a>&nbsp;
        {% elif run_state == "PAUSE" %}
          <a href="{{ url_for('resume_job', job_id=job.id) }}">Resume</a>&nbsp;
        {% endif %}
      {% elif running_job %}
        <a href="{{ url_for('start_job', job_id=job.id) }}" disabled="disabled">Start</a>
        <a href="{{ url_for('pause_job', job_id=job.id) }}" disabled="disabled">Pause</a>
      {% endif %}
      {% if job != running_job %}
        <a href="{{ url_for('delete_job', job_id=job.id) }}">Delete</a>
      {% else %}
        <a href="{{ url_for('delete_job', job_id=job.id) }}">Delete</a>
      {% endif %}
  {% else %}
    <li><em>No jobs found.</em>
  {% endfor %}
  </ul>
{% endblock %}
